
    <h1 class="govuk-heading-xl">There has been an error</h1>

    <p class="govuk-body">Please try again later.
        <% if(urls.help) { %>
            If the problem continues, follow the link to <a class="govuk-link-bold" href="<%=urls.help%>/contact-us">submit a support request</a>.
        <% } %>
    </p>


    <% if(details) {%>
        <div class="code">
            <%=details%>
        </div>
    <% } %>